<script>
    function buildDTPicker(id, label, initialValue){
      var html = '<div class="input-group date" default-date="'+initialValue+'">';
      html += '<label class="input-group-addon">'+label+'</label>';
      html += '<input class="form-control" type="text" name="'+id+'" readonly/>';
      html += '<label class="input-group-addon"><i class="fa fa-fw fa-calendar"></i></label>';
      html += '</div>';
      var jqueryObj = $(html);
      jqueryObj.datetimepicker({
        locale: "<%=I18n.locale%>",
        defaultDate: initialValue,
        ignoreReadonly: true,
        allowInputToggle: true,
        sideBySide: true,
        icons: {
          time: 'fa fa-clock-o',
          date: 'fa fa-calendar',
          up: 'fa fa-chevron-up',
          down: 'fa fa-chevron-down',
          previous: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          today: 'fa fa-calendar-check-o',
          clear: 'fa fa-trash',
          close: 'fa fa-times'
        },
      });
      return jqueryObj;
    }
</script>